@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
a strong{
    font-size: large;
    font-weight: 750;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
}
nav{
    min-height: 50px;
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(#fff8eb, #fff8eb00);
}
.menu{
    display: flex;
}
.navbar .menuhb{
    display: none;
    position: absolute;
    right: 3%;
    top: 15%;
    width: 35px;
}

@media screen and (max-width: 800px) {
    main{
        margin: 0 5%;
    }
    .pdg{
        margin: 0 5%;
    }
    nav{
        padding: 0;
    }
    .navbar .menuhb{
        display: block;
    }
    .navlist {
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(255, 248, 235, 0.351);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-left: 0;
    }
    .navlist ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navlist ul li a{
        position: relative;
        line-height: 350%;
        font-weight: 750;
        font-size: 20px;
        background-color: rgb(255, 248, 235);
        border: 5px solid rgb(73, 55, 34);
        padding: 5 15%;
        border-radius: 100px;
        
    }

    a strong{
        position: absolute;
        left: 15px;
        top: 15px;
    }
}
.navbar .navlist ul{
    display: flex;
    justify-content: space-between;
    /* color: rgb(255, 248, 235); */
}
.navbar .navlist ul li{
    margin: 0 30px;
    /* color: rgb(255, 248, 235); */
}
nav div ul li a{
    /* color: rgb(255, 248, 235); */
    font-weight: 650;
}
nav>a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    /* color: rgb(255, 248, 235); */
}
nav>a:focus {
    border-bottom: 1px solid;
    background: rgb(73, 55, 34);
}
nav>div>ul>li>a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
nav>div>ul>li>a:focus {
    border-bottom: 1px solid;
    background: rgb(73, 55, 34);
}
ol>li>a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
ol>li>a:link {
    color: rgb(73, 55, 34);
}
ol>li>a:visited {
    color: rgb(73, 55, 34);
}
ol>li>a:focus {
    border-bottom: 1px solid;
    background: rgb(73, 55, 34);
}
a {
    border-bottom: 2px dashed rgb(73, 55, 34);
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
a:link {
    color: rgb(73, 55, 34);
}
a:visited {
    color: rgb(73, 55, 34);
}
a:focus {
    border-bottom: 1px solid;
    background: #b2dcec;
}
a:hover {
    border-bottom: 2px solid rgb(73, 55, 34);
    background: #f7dfa7a2;
}
a:active {
    background: #0b4c7b;
    color: #aae1fe;
}
.listecom1 li a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
.listecom1 li a:link {
    color: rgb(73, 55, 34);
    border-bottom: 2px solid rgb(73, 55, 34);
}
.listecom1 li a:visited {
    color: rgb(73, 55, 34);
}
.listecom1 li a:focus {
    border-bottom: 1px solid;
    background: #b2dcec;
}
.listecom1 li a:hover {
    border-bottom: 2px solid rgb(73, 55, 34);
    background: #f7dfa7a2;
}
.listecom1 li a:active {
    background: #0b4c7b;
    color: #aae1fe;
}
strong{
    font-weight: 550;
}
em{
    font-weight:250;
}
h4{
    font-weight: 700;
    width: auto;
}
h3{
    font-weight:800;
}
h2{
    font-weight:900;
}
h1{
    font-weight: 1500;
    width: auto;
}
body{
    background-color: rgb(255, 248, 235);
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    text-align:justify;
    color: rgb(255, 248, 235);
}
.pdg{
    background: url("./img/mairie18-modified-fotor-20240613114851.png") no-repeat center/cover;
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    z-index: 1;
    /* border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 10px solid rgb(73, 55, 34) ;
    border-left: 10px solid rgb(73, 55, 34) ;
    border-right: 10px solid rgb(73, 55, 34) ; */
}
.DOSSIERDESTAGE{
    /* background-color: rgba(255, 248, 235, 0.774); */
    font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    vertical-align: middle;
    margin-top: -500px;
    padding-top: 15px;
    padding-bottom: 10px;
    z-index: 2;
    color: rgb(255, 248, 235);
}

h2{
    font-size: 2.5rem;
    font-family: "DM Serif text", serif;
    font-style: italic;
    font-weight: 400;
    width: auto;
}
.MAIRIEDECUERS{
    margin: 0px;
    z-index: 3;
    color: rgb(255, 248, 235);
}
main{
    color: rgb(73, 55, 34);
    min-height: 100vh;
    width: auto;
    margin: 0 20%;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
    font-family: "DM Serif text", serif;
    font-style: italic;
    font-weight: 400;
    width: auto;
    
}
p{  
    font-family: "Raleway", sans-serif;
}
.sommaire{
    /* min-height: 100vh; */
    width: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}
li{
    list-style:none;
}
.Page1 div{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: normal;
}
.page1text{
    height: auto;
    width: auto;
    padding: 2;
}
.maps{
    background: rgb(73, 55, 34);
    height: 80vh;
    width: 100%;
    border: 10px solid rgb(73, 55, 34);
    border-radius: 15px;
    padding: 0 auto;
}
iframe{
    border-radius:10px;
    height: 80vh;
    width: 100%;
}
.org-chart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway", sans-serif;
}
.org-chart em {
    font-family: "DM Serif text", sans-serif;
}
.org-chart strong {
    font-weight: 400;
}
.level {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.level > div {
    margin: 0 10px;
}
.box {
    border: 3px solid rgb(73, 55, 34);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}
.sublevel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sublevel > div {
    margin: 5px 0;
}
.ressources{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.Page2 p{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: normal;
}
.page2text1{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.tableau{
    position: flex;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    color: rgb(73, 55, 34);
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Raleway", sans-serif;
    color: rgb(73, 55, 34);
    margin: auto;
    padding: auto;
}
th, td {
    border: 5px solid rgb(73, 55, 34);
    padding: 8px;
    text-align: left;
}
.legende{
    border-radius: 10px;
    border: 5px solid rgb(73, 55, 34);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.page2text2{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.prospectiontext{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.ulpros li{
    list-style:circle;
}
.clientsmairie{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.repartitionclientele{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.delaispaiements{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.produitsvendus{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.negociation{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.delaisreglement{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.concurrents{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.communication{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.PGItexte{
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 0 auto;
}
.lienbug{
    position: relative;
}
footer{
    background-color: rgb(241, 220, 177);
    margin: 0 auto;
    padding: 2px;
    font-family: "Raleway", sans-serif;
    text-align:justify;
}
.footer{
    font-weight: 450;
    color: rgb(73, 55, 34);
}
.separator1{
    height: 2px;
    width: 50%;
    padding: 0;
    background:rgb(241, 220, 177);
    margin: 350px 25% 30px 25%;
    border-radius: 8px;
}
.separator{
    height: 2px;
    width: 50%;
    padding: 0;
    background:rgb(241, 220, 177);
    margin: 30px 25% 30px 25%;
    border-radius: 8px;
}